<app-navbar></app-navbar>
<div class="card-group" style="margin: 1%;">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title font-weight-bold">{{product.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted"><b>Serial Number:</b> {{product.serialNumber}}</h6>
          <p class="card-text">{{product.description}}</p>
          <hr>
          <p><b>Category:</b> {{product.category}}</p>
          <hr>
          <button (click)="addItem()" class="btn btn-primary d-inline" style="margin-right: 5px;">Buy</button><p class="d-inline">
            <ng-container *ngIf="!isDiscounted(product.serialNumber); else elseBlock">
              {{product.price}}₪
          </ng-container>
          <ng-template #elseBlock>
              <del class="d-inline text-danger">{{product.price*1.2}}₪</del>{{product.price}}₪
          </ng-template>
          </p>
        </div>
      </div>
      <img [src]="product.img"  [width]="product.category=='Consoles'? '450':'250'" [height]="product.category=='Consoles'? '250':'350'">
</div>