<app-navbar></app-navbar>
<div class="d-flex p-2 col-example d-flex justify-content-center">
    <div style="margin:1%;">
        <div class="col-lg-16">
            <div class="text-center card-box">
                <div class="member-card pt-2 pb-2">
                    <div class="thumb-lg member-thumb mx-auto"><img src="https://screenshots.gamebanana.com/img/ico/sprays/patrick.png" class="rounded-circle img-thumbnail"></div>
                    <div class="">
                        <h4>Nativ Matuk</h4>
                        <p class="text-info">Software Engineering<br><span><a href="mailto:nativma22@gmail.com" class="text-pink">nativma22@gmail.com</a></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>