<div class="list-group mainDiv" >
  <a class="list-group-item" (click)="all()">All Products</a>
  <a class="list-group-item" (click)="consoles()">Consoles</a>
  <a class="list-group-item" (click)="videoGames()">All Games</a>
  <div class="list-group">
    <a class="list-group-item i2" (click)="PSGames()">Playstation Games</a>
    <a class="list-group-item i2" (click)="XBOXGames()">XBOX Games</a>
    <a class="list-group-item i2" (click)="NintendoGames()">Nintendo Games</a>
    <a class="list-group-item i2" (click)="PCGames()">PC Games</a>
  </div>
</div>