
<div id="carouselExampleControls" class="custom-carousel carousel slide p-4" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a class="nav-link" (click)="all()">All Products</a>
    </div>
    <div class="carousel-item">
      <a class="nav-link" (click)="consoles()">Consoles</a>
    </div>
    <div class="carousel-item">
      <a class="nav-link" (click)="videoGames()">All Games</a>
    </div>
    <div class="carousel-item">
      <a class="nav-link" (click)="PSGames()">Playstation Games</a>
    </div>
    <div class="carousel-item">
      <a class="nav-link" (click)="XBOXGames()">XBOX Games</a>
    </div>
    <div class="carousel-item">
      <a class="nav-link" (click)="NintendoGames()">Nintendo Games</a>
    </div>
    <div class="carousel-item">
      <a class="nav-link" (click)="PCGames()">PC Games</a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>