.d-flex *{
    flex: 1 1 0px;
    max-width: 4in;
}
.list-group-item{
    transition:box-shadow background-color;
    transition-duration: 0.4s;
}
.list-group-item:hover{
    box-shadow:0 0 5px ghostwhite;
    background-color: ghostwhite;
}

@media only screen
    and (min-width: 375px) 
    and (max-width: 898px) {
    .img-mobile{
         padding: 2%;
    }
}