
            <div style="margin-bottom: 4%;">
                <div class="row text-center text-white mb-5">
                    <div class="col-lg-7 mx-auto">
                        <h4 class="display-5">{{show=='all'? "Products":show}} List</h4>
                    </div>
                </div>
                <div class="row d-flex flex-row justify-content-around">
                    
                        <!-- List group-->
                        <ng-container *ngFor ="let item of arr">
                            <ul style="margin: 1%; padding: 1%" class="list-group shadow-none p-2 mb-2 bg-dark rounded" *ngIf="show=='all' || item.category.indexOf(show)!=-1">
                                <!-- list group item-->
                                <li class="list-group-item">
                                    <!-- Custom content-->
                                    <div class="media align-items-lg-center ">
                                        <div class="media-body order-2 order-lg-1">
                                            <a [routerLink]="['/products',item.serialNumber]" class="text-dark"><h4 class="font-weight-bold">{{item.name}}</h4></a>
                                            <div class="d-flex align-items-center justify-content-between mt-1">
                                                <ul class="list-inline small">
                                                    <li class="h5"><small>Serial Number: {{item.serialNumber}}<br><i class="fa fa-star text-dark">{{item.category}}</i></small></li>  
                                                    <div class="d-flex justify-content-start">
                                                        <li class="h6"><button (click)="addItem(item.serialNumber)" class="btn btn-primary" style="margin-right:5px">Buy</button><i class="d-inline fa fa-star">
                                                            <ng-container *ngIf="!isDiscounted(item.serialNumber); else elseBlock">
                                                                {{item.price}}₪
                                                            </ng-container>
                                                            <ng-template #elseBlock>
                                                                <del class="d-inline text-danger">{{item.price*1.2}}₪</del>{{item.price}}₪
                                                            </ng-template>
                                                        </i></li>
                                                    </div>
                                                    <li><button [routerLink]="['/products',item.serialNumber]" class="btn btn-outline-info">More Info</button></li>
                                                </ul>
                                            </div>
                                        </div><img [src]="item.img" alt="Generic placeholder image" width="120" class="ml-lg-5 order-1 order-lg-2">
                                    </div> <!-- End -->
                                </li> <!-- End -->
                            </ul> <!-- End -->
                        </ng-container>
                    
                </div>
            </div>