<app-navbar></app-navbar>
<div class="page">
    <div class="page-haader d-flex justify-content-center text-light">
        <h1 class="responsive-text">Welcome {{username}} To KSPlay</h1>
    </div>
        <div class="text-light text-center tow-tables">
            <div class="space-to-mobile">
                <h5>Products Of The Week</h5>
                <table class="table-striped table-dark rounded">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Category</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let tmp of discounted" height="100">
                        <th scope="row">{{tmp.serialNumber}}</th>
                        <td class="text-center"><img [src]="tmp.img" [width]="tmp.category=='Consoles'? '100':'50'" [height]="tmp.category=='Consoles'? '50':'75'"></td>
                        <td><a [routerLink]="['/products',tmp.serialNumber]">{{tmp.name}}</a></td>
                        <td class="col"><button (click)="addItem(tmp.serialNumber)" class="btn btn-primary" style="margin-right: 5px;">Buy</button>{{tmp.price}}₪<del class="d-flex justify-content-center text-danger">{{tmp.price*1.2}}₪</del></td>
                        <td>{{tmp.category}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="space-to-mobile">
                <h5>New Products</h5>
                <table class="table-striped table-dark rounded">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Category</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let tmp of newProducts" height="100">
                        <th scope="row">{{tmp.serialNumber}}</th>
                        <td class="text-center"><img [src]="tmp.img" [width]="tmp.category=='Consoles'? '100':'50'" [height]="tmp.category=='Consoles'? '50':'75'"></td>
                        <td><a [routerLink]="['/products',tmp.serialNumber]">{{tmp.name}}</a></td>
                        <td class="col"><button (click)="addItem(tmp.serialNumber)" class="btn btn-primary" style="margin-right: 5px;">Buy</button><ng-container class="d-flex justify-content-center">{{tmp.price}}₪</ng-container></td>
                        <td>{{tmp.category}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>
<div style="padding: 2%;"></div>
<app-footer></app-footer>
